body {
    background-color: #EEF8EF;
    font-family: 'Helvetica Neue';
    color: #2E414D;
    padding: 10px;
}

h1,
h2 {
    padding-bottom: 20px;
}

.border-bottom,
.border-left,
.border-right,
.border-top {
    position: absolute;
    background: #fcfbf3;
    transition: transform .5s cubic-bezier(0, 0, 0, 1);
    z-index: 10;
}

.border-left,
.border-right {
    width: 10px;
    height: 100%;
    top: 0;
    bottom: 0;
}

.border-left,
.border-right {
    width: 20px;
}

.border-bottom,
.border-top {
    height: 20px;
}

.border-bottom,
.border-top {
    height: 20px;
    width: 100%;
    left: 0;
    right: 0;
}

.border-right {
    right: 0;
}

.border-left {
    left: 0;
}

.border-bottom {
    bottom: 0;
}

.border-top {
    top: 0;
}